@inherits LayoutComponentBase

<PageTitle>CatPetHotelApp</PageTitle>

<div class="page">
    <div class="container">
    <div class="row">
    <div class="container-lg" width="100%">
        <a class="row" href="/">
            <img src="images/logo.png" width="151" height="247" class="col"
                 alt="Little Paws OnBoard logo">
        </a>


            <div class="row-6" id="brand name">
            @*<h1 class="col text-lg-center">Little Paws OnBoard! </h1>*@
    </div>
    </div>
    </div>
    <div class="row"
    <main>
      @*  <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@
        <div class="row text-lg-center ">
            @Body
        </div>
    </main>
    </div>
    </div>
</div>
